/build/
*/build/
*.bin
*.elf
*.map
*.log

sdkconfig
sdkconfig.old

.vscode/
.devcontainer/
*.code-workspace

*.pyc
__pycache__/
.DS_Store
Thumbs.db

*~
*.swp
*.swo

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

*.exe
*.out

# Componentes gerenciados pelo esp-idf
/managed_components/
